<div class="row" style="margin-top:10%">
  <div class="col-md-6 col-md-offset-3 " style="text-align: center">
     <h2>회원가입</h2>
  </div>
</div>


<div class="row" style="margin-top:10px">

  <div class="col-md-6 col-md-offset-3 " style="text-align: center">
    <form action="#" method="get">
        <mat-form-field style="width:100%; ">
            <input matInput placeholder="아이디" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field style="width:100%; ">
            <input matInput type="password" placeholder="패스워드" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field style="width:100%; ">
            <input matInput type="email" placeholder="이메일" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field style="width:100%; ">
            <input matInput placeholder="이름" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>

        <button mat-raised-button color="primary" style="width:100%;" (click)="regist()">회원가입</button>
  </form>
  </div>

</div>
