<div class="row">
  <div class="col-md-6 col-md-offset-3 " style="height:500px; background:rgb(195, 58, 44); margin-top:20px; overflow:scroll">
    <!-- <h3>음악을 검색해주세요.</h3> -->
    <div *ngFor="let video of videoList" class="col-md-12" style="margin-top:20px; height:120px; background:white">
      <div class="col-md-2 col-lg-2 col-xs-5" style="float:left">
      <img src="{{video.thumbnail}}" style="padding:15px 0 15px 0; position:relative"/>
      </div>
      <div class="col-md-offset-2 col-md-5 col-xs-offset-1 col-xs-5" style="float:left; overflow:hidden; position:relative; margin-top:15px">
        <span style="border-top:10px; font-size:15px; font-family: 'Noto Sans KR, sans-serif'; font-weight: 700">{{video.title}}</span>
      </div>
    </div>
  </div>
</div>

<div class="row"> <!--Search Form Start-->
  <div class="col-md-12">
      <div class="col-md-6 col-md-offset-3 search-form wow fadeInUp" data-wow-delay="4000ms">
          <form action="#" method="get">
              <input type="text" placeholder="Search" class="col-md-9 col-xs-12" [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}"/>
              <input (click)="searchVideo()" type="submit" value="Search" class="col-md-3 col-xs-12"/>
          </form>
      </div>
  </div>
</div> <!--Search Form End-->
