<section>
  <div class="container">
      <app-header></app-header>


      <app-musiclist></app-musiclist>

      <div class="row"> <!--Search Form Start-->
          <div class="col-md-12">
              <div class="col-md-6 col-md-offset-3 search-form wow fadeInUp" data-wow-delay="4000ms">
                  <form action="#" method="get">
                      <input type="text" placeholder="Search" class="col-md-9 col-xs-12"/>
                      <input type="submit" value="Search" class="col-md-3 col-xs-12"/>
                  </form>
              </div>
          </div>
      </div> <!--Search Form End-->
  </div>
</section>
