<div class="row" style="margin-top:20%">
  <div class="col-md-6 col-md-offset-3 " style="text-align: center">
    <form action="#" method="get">
      <!-- <input type="text" (enter)="doLogin()" placeholder="아이디" class="col-md-12 col-xs-12" />
      <input type="password" (enter)="doLogin()" placeholder="비밀번호" class="col-md-12 col-xs-12"  style="height:42px; border:1px solid #e6e4e4;outline-color:#ccc"/> -->
      <mat-form-field style="width:100%; ">
          <input matInput placeholder="아이디" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field style="width:100%; ">
          <input matInput type="password" placeholder="패스워드" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <button mat-raised-button color="primary" style="width:100%;" (click)="doLogin()">로그인</button>
      <button mat-raised-button color="warn" style="width:100%;" (click)="regist()">회원가입</button>
      <!-- <input type="submit" value="로그인" class="col-md-12 col-xs-12" (click)="doLogin()"/>
      <input type="submit" value="회원가입" class="col-md-12 col-xs-12" (click)="regist()" style="background-color:#4c63a2; border:1px solid #4c63a2"/> -->
  </form>
  </div>

</div>
